* {
  margin:10px;
  padding:0px;
}

.firstPage {
  border:1px solid black;
  background-color: #1c355e;
  color:  #e52329;
}


.firstLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.title{
  display: -webkit-inline-flex;
  display: inline-flex;
  width:20%;
  margin:0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.firstName {
  display: -webkit-inline-flex;
  display: inline-flex;
  width:40%;
  margin:0px;
  border-top: 1px solid black;
}

.surname {
  display: -webkit-inline-flex;
  display: inline-flex;
  width:40%;
  margin:0px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.question  {
  width:50%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:1px solid black;
  background-color: lightgrey;
}

.answer {
  width:50%;
  margin:0px;
}

.secondLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.addressQuestion {
  width:30%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:2px solid black;
  background-color: lightgrey;
}

.addressAnswer {
  width:70%;
  margin:0px;
  border-right: 1px solid black;
}

.thirdLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.contactNumber{
  display: -webkit-inline-flex;
  display: inline-flex;
  width:50%;
  margin:0px;
  border-left:1px solid black;
}

.emailAddress {
  display: -webkit-inline-flex;
  display: inline-flex;
  width:50%;
  margin:0px;
  border-right: 1px solid black;
}

.fourthLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.dateOfBirth{
  display: -webkit-inline-flex;
  display: inline-flex;
  width:50%;
  margin:0px;
  border-left:1px solid black;
}

.nationalInsurance {
  display: -webkit-inline-flex;
  display: inline-flex;
  width:50%;
  margin:0px;
  border-right: 1px solid black;
}

.fifthLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.contactQuestion {
  width:35%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:2px solid black;
  background-color: lightgrey;
}

.contactAnswer {
  width:65%;
  margin:0px;
  border-right: 1px solid black;
}

.sixthLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.workQuestion {
  width:35%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:2px solid black;
  background-color: lightgrey;
}

.workAnswer {
  width:65%;
  margin:0px;
  border-right: 1px solid black;
}

.seventhLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border-bottom:1px solid black;
}

.qualiQuestion {
  width:35%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:2px solid black;
  background-color: lightgrey;
}

.qualiAnswer {
  width:65%;
  margin:0px;
  border-right: 1px solid black;
}

.quali {
  width:100%;
  margin:0px;
  border:1px solid black;
}

.quali input {
  width:85%;
}

.eigthLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  background-color: lightgrey;
  border-bottom:1px solid black;
  border-right:1px solid black;
  border-left:2px solid black;
}

.typeOfWork {
  width:100%;
  margin:0px;
  border-right: 1px solid black;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #1c355e;
  color: #e52329;
}
