* {
  margin:10px;
  padding:0px;
  background-color:rgb(237,237,237);
}

@font-face {
  font-family: sm;
  src: url('../resources/acorn_res/myriad_pro/MyriadPro-Regular.otf');
}

h1 {
  color:rgb(31,33,63)
}

input {
  display:block;
  width: 40%;
  margin:10px;
  padding:10px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

select {
  display:block;
  width: 20%;
  margin:10px;
  min-height:30px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

button {
  display:block;
  min-height: 35px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(200, 0, 0);
  color: white;
  margin-left: 400px;
}
