* {
  margin:10px;
  padding:0px;
}

.secondPage {
  border:1px solid black;
  background-color: #1c355e;
  color:  #e52329;
}

.firstLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
}

.question  {
  width:50%;
  margin:0px;
  padding:0px;
  border-right:1px solid black;
  border-left:1px solid black;
  background-color: lightgrey;
}

.answer {
  width:50%;
  margin:0px;
}

.secondLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
}

.thirdLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
}

.fourthLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #1c355e;
  color: #e52329;
}

.next {
  background-color: #1c355e;
  color: #e52329;
}
