* {
  margin:10px;
  padding:0px;
}

.secondPage {
  border:1px solid black;
  background-color: #1c355e;
  color:  #e52329;
}

.firstLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
  background-color: lightgrey;
}

.firstLine p1 {
  font-weight:bold;
}

.secondLine {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin:0px;
  padding:0px;
  width:100%;
  border:1px solid black;
}

.reference {
  margin:0px;
  padding:4px;
  width:50%;
  border:1px solid black;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
  background-color: #002966;
  color: red;
}

.next {
  background-color: #002966;
  color: red;
}
