<!DOCTYPE HTML>

<!-- Please check the notes in resources/helpful_notes.txt for information -->

<html lang=en>
  <head>
    <script src="..\static\js\crafty_postcode.class.js"></script>
    <title> Acorn Recuritment </title>
    <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    <script type="text/javascript" src="js/hide.js"></script>
  </head>

  <body>

    <header class="acornHeader">
      <img id="logo" src="resources\acorn_res\Logos\PNGs\acorn_logo.png" alt="Image of the Acorn Logo">
      <input id="userName" type="text" name="userName" placeholder="User Name">
      <input id="password" type="password" name="password" placeholder="Password">
      <button id="adminLogin" type="button">Admin Login</button>
    </header>

    <main>
      <h1>Limited Company Contractor Registration Form </h1>
      <hr>
      <p>Please fill out all input fields fully, and if you need any extra information, just hover over the field with your cursor</p>
      <hr>
      <form>
        <section class="personalDetails">
          <h1> Step 1 - Personal Details</h1>
          <select class="title">
            <option value="Title" disabled selected hidden> Title </option>
            <option value="Mr."> Mr.</option>
            <option value="Miss"> Miss</option>
            <option value="Mrs."> Mrs.</option>
            <option value="Ms."> Ms.</option>
          </select>
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="surname" placeholder="Surname">
          <select class="gender">
            <option value="Gender" disabled selected hidden> Gender </option>
            <option value="Male"> Male </option>
            <option value="Female"> Female </option>
            <option value="Prefer not to say"> Prefer not to say </option>
          </select>
          <input type="text" name="dob" placeholder="Date of Birth">
          <input type="number" name="niNumber" placeholder="National Insurance Number">
        </section>
        <hr>
        <section class="contactInfo">
          <h1> Step 2 - Contact Information</h1>
          <input type="email" name="eAddress" placeholder="Email Address">
          <input type="email" name="confirmEAddress" placeholder="Confirm Email Address"> <!--We need to do the input type where you can't copy paste into it to make it a true "confirmation" -->
          <input type="number" name="contactNumber" placeholder="Contact Phone Number">
        </form>
        <!-- to test postcode lookup use "AA11AA" -->
        <form method="post" name="address">
          <input type="text" name="postcode" placeholder="Postal Code"><button type="button" onclick="cp_obj.doLookup()">Find Address</button>
          <span id="crafty_postcode_result_display"></span>
          <input type="text" name="address1" placeholder="Address Line 1">
          <input type="text" name="address2" placeholder="Address Line 2">
          <input type="text" name="address3" placeholder="Address Line 3">
          <input type="text" name="town" placeholder="town">
        </form>

        <form>

          <input type="text" name="emergContac" placeholder="Emergency Contact Name">
          <input type="number" name="emergContacNumber" placeholder="Emergency Contact Number">
        </section>
        <hr>
        <section class="workInfo">
          <h1> Step 3 - Work Information</h1>
          <input type="text" name="workReq" placeholder="Type of Work Required:">
          <input type="text" name="quali" placeholder="Qualifications / Licences held:">
          <input type="text" name="nameOfCompany" placeholder="Name of Company">
        </section>
        <hr>
        <section class="extendedInfo">
          <h1> Step 4 - Extended Information</h1>
          <span>Are you eligible to work in the UK?
          <select class="eligibility">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input id="hide" type="text" name="proofEligibility" placeholder="Please detail which documents you will provide as proof">
          <span>Do you have a current UK driving licence?
          <select class="licence">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <span>Do you have any current criminal convictions as per the
             Rehabilitation of Offenders Act 1974?
          <select class="criminalConviction">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input class="hide" type="text" name="criminalDetails" placeholder="Please provide full details">
          <span>Do you condiser yourself to have a disability?
          <select class="criminalConviction">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input class="hide" type="text" name="criminalDetails" placeholder="Please provide full details">
        </section>
        <hr>
        <section class="references">
          <h1> Step 5 - References </h1>
          <p>Please provide details of two referees whom we may contact to obtain
          a reference in connection with your employment. These should idealy
          be your current and previous employer.</p>
          <h2> Referee 1 </h2>
            <input type="text" name="RefereeName1" placeholder="Referee's Name">
            <input type="text" name="RefereeJob1" placeholder="Referee's Job">
            <input type="text" name="RefereeComp1" placeholder="Referee's Company">
            <input type="text" name="RefereeAddress1" placeholder="Referee's Address">
            <input type="number" name="RefereeNum1" placeholder="Referee's Phone Number">
            <input type="email" name="RefereeEmail1" placeholder="Referee's Email Address">
          <h2> Referee 2 </h2>
            <input type="text" name="RefereeName2" placeholder="Referee's Name">
            <input type="text" name="RefereeJob2" placeholder="Referee's Job">
            <input type="text" name="RefereeComp2" placeholder="Referee's Company">
            <input type="text" name="RefereeAddress2" placeholder="Referee's Address">
            <input type="number" name="RefereeNum2" placeholder="Referee's Phone Number">
            <input type="email" name="RefereeEmail2" placeholder="Referee's Email Address">
        </section>
        <hr>
        <section class="uploadCV">
          <h1> Step 6 - CV File</h1>
          <p> Please upload your CV here</p>
          <input type="file" name="CV">
        </section>
      </form>
    </main>
    <button type="button">Submit</button>

<script>
   var cp_obj = CraftyPostcodeCreate();
   cp_obj.set("access_token", "ef997-4596c-2db37-0260a"); // your token here
   cp_obj.set("result_elem_id", "crafty_postcode_result_display");
   cp_obj.set("form", "address");
   cp_obj.set("elem_company"  , "companyname");
   cp_obj.set("elem_street1"  , "address1");
   cp_obj.set("elem_street2"  , "address2");
   cp_obj.set("elem_street3"  , "address3");
   cp_obj.set("elem_town"     , "town");
   cp_obj.set("elem_postcode" , "postcode");
</script>

  </body>
</html>
