h2 {
  font-size: 24px;
  color:rgb(28,58,93);
  margin-left:30px;
}

.test div{
    background: transparent;
}

#map{
    border:1px solid black;
    width:100% !important;
    margin-left: 0px;
}

input {
  display:block;
  width: 40%;
  margin:10px;
  padding:10px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

button {
  display:block;
  min-height: 35px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(200, 0, 0);
  color: white;
  margin-left: 400px;
}
