.loginOrNew {
  background-color:rgb(172,171,171);
  padding:10px;
  border-radius:5px;
}

.options {
  background-color:rgb(172,171,171);
  padding:4px;
}

.options button {
  display:block;
  min-height: 35px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(200, 0, 0);
  color: white;
  width:100%;
  font-size:25px;
  margin-left:0px;
  border: 1px solid rgb(112,111,111);
}
