.loginOrNew {
  background-color:rgb(172,171,171);
  padding:10px;
  border-radius:5px;
}

.options {
  background-color:rgb(172,171,171);
  padding:4px;
}

.options button {
  width:100%;
  font-size:25px;
  margin-left:0px;
  padding-top:20px;
  border: 1px solid rgb(112,111,111);
}
