* {
  margin:10px;
  padding:0px;
  background-color:rgb(237,237,237);
  font-family: firstFont;
}

@font-face {
  font-family: firstFont;
  src: url('../acorn_res/myriad_pro/MyriadPro-Regular.otf');
}

.acornHeader {
  display:inline-block;
  width:100%
}

.acornHeader input {
  margin-left:40px;
  vertical-align: top;
  width:10%;
  padding:10px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

#userName{
  position:absolute;
  right:5px;
  top:5px;
}

#password {
  position:absolute;
  right:5px;
  top:45px;
}

#adminLogin {
  position:absolute;
  right:5px;
  top:85px;
  width:7%;
}

h1 {
  color:rgb(28,58,93)
}

form input {
  display:block;
  width: 40%;
  margin:10px;
  padding:10px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

form select {
  display:block;
  width: 20%;
  margin:10px;
  min-height:30px;
  border-radius: 8px;
  border: 1px solid rgb(112,111,111);
}

h2 {
  font-size: 20px;
  color:rgb(28,58,93);
}

.references input {
  margin-left: 30px;
}

button {
  display:block;
  min-height: 35px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(200, 0, 0);
  color: white;
  margin-left: 400px;
}
