<!DOCTYPE HTML>

<!-- Please check the notes in resources/helpful_notes.txt for information -->

<html lang=en>
  <head>
    <title> Acorn Recuritment </title>
    <script src="../static/js/admin_scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\admin.css">
    <link rel="shortcut icon" type="image/png" href="..\static\acorn_res\Logos\favicon.ico"/>
    <style> #map {height: 400px; width: 400px;}</style>
  </head>

  <body onload="return initMap({{data}})">

    <header class="acornHeader">
      <img id="logo" src="..\static\acorn_res\Logos\PNGs\acorn_logo.png" alt="Image of the Acorn Logo">
    </header>

    <main>
      <h1>Administration Page</h1>
      <hr>
      <p>A page for administration of the form database and visual representations of said data</p>
      <hr>
      <h2>Map of Contractors Addresses</h2>
      <div class='test'>
        <div id="map"></div>
      </div>
      <hr>
      <h2>Search Database</h2>
      <form id="searchForm" action='/Admin' method='post'>
        Surname:<input type="text" name="surname"><br>
        <button type="submit">Submit Search</button>
      </form>
    </main>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDxopG0a_TsLMCH16JKd6xhKlndLsPKL4&callback=initMap">
    </script>
  </body>
</html>
