<!DOCTYPE HTML>

<!-- Please check the notes in resources/helpful_notes.txt for information -->

<html lang=en>
  <head>
    <title> Acorn Recuritment </title>
    <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    <script src="../static/js/form_data.js"></script>
  </head>

  <body>
    <header class="acornHeader">
      <img id="logo" src="..\static\acorn_res\Logos\PNGs\acorn_logo.png" alt="Image of the Acorn Logo">
      <input id="userName" type="text" name="userName" placeholder="User Name">
      <input id="password" type="password" name="password" placeholder="Password">
      <button id="adminLogin" type="button">Admin Login</button>
    </header>
    <main>
      <h1>Limited Company Contractor Registration Form </h1>
      <hr>
      <p>Please fill out all input fields fully, and if you need any extra information, just hover over the field with your cursor</p>
      <hr>
      <form id='contractorForm' onsubmit="return addForm()" method="post" type="submit" value="Submit" name="myForm">
        <section class="personalDetails">
          <h1> Step 1 - Personal Details</h1>
          <select class="title" name="title">
            <option value="Title" disabled selected hidden> Title </option>
            <option value="Mr."> Mr.</option>
            <option value="Miss"> Miss</option>
            <option value="Mrs."> Mrs.</option>
            <option value="Ms."> Ms.</option>
          </select>
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="surname" placeholder="Surname">
          <select class="gender" name="gender">
            <option value="Gender" disabled selected hidden> Gender </option>
            <option value="Male"> Male </option>
            <option value="Female"> Female </option>
            <option value="Prefer not to say"> Prefer not to say </option>
          </select>
          <input type="text" name="dob" placeholder="Date of Birth">
          <input type="text" name="niNumber" placeholder="National Insurance Number">
        </section>
        <hr>
        <section class="contactInfo">
          <h1> Step 2 - Contact Information</h1>
          <input title="Make sure it is a valid email" type="email" name="eAddress" placeholder="Email Address">
          <input title="Check if emails match" type="email" name="confirmEAddress" placeholder="Confirm Email Address" onblur="confirmEmail()">
          <input title="No spaces needed" onclick="eValidate()" type="text" name="contactNumber" placeholder="Contact Phone Number">
          <!-- <form method="post" name="addressLook"> -->
          <input title="Please enter your postcode like this XXX XXX" type="text" name="postCode" placeholder="Postal Code">
            <!-- <button type="button" onclick="cp_obj.doLookup()">Find Address</button>
            <span id="crafty_postcode_result_display">&nbsp;</span><br/> -->
            <input type="text" name="addressLine1" placeholder="Address Line 1">
            <input type="text" name="addressLine2" placeholder="Address Line 2">
            <input type="text" name="addressLine3" placeholder="Address Line 3">
            <input type="text" name="town" placeholder="town">
          <!--</form>-->

          <input title="No spaces needed" type="text" name="emergContact" placeholder="Emergency Contact Name">
          <input title="No spaces needed" type="text" name="emergContactNumber" placeholder="Emergency Contact Number">
        </section>
        <hr>
        <section class="workInfo">
          <h1> Step 3 - Work Information</h1>
          <input type="text" name="workReq" placeholder="Type of Work Required:">
          <input type="text" name="quali" placeholder="Qualifications / Licences held:">
          <input type="text" name="nameOfCompany" placeholder="Name of Company">
        </section>
        <hr>
        <section class="extendedInfo">
          <h1> Step 4 - Extended Information</h1>
          <span>Are you eligible to work in the UK?
          <select onclick="hide()" class="eligibility" name="eligibility">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option  value="No"> No </option>
          </select>
          <input id="removed" type="text" name="proofOfEligibility" placeholder="Please detail which documents you will provide as proof">
          <span>Do you have a current UK driving licence?
          <select class="licence" name="licence">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <span>Do you have any current criminal convictions as per the
             Rehabilitation of Offenders Act 1974?
          <select onclick="hide()" class="criminalConviction" name="criminalConviction">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input id="removed1" type="text" name="criminalDetails" placeholder="Please provide full details">
          <span>Do you condiser yourself to have a disability?
          <select onclick="hide()" class="disability" name="disability">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input id="removed2" type="text" name="disabilityDetails" placeholder="Please provide full details">
        </section>
        <hr>
        <section class="references">
          <h1> Step 5 - References </h1>
          <p>Please provide details of two referees whom we may contact to obtain
          a reference in connection with your employment. These should idealy
          be your current and previous employer.</p>
          <h2> Referee 1 </h2>
            <input type="text" name="refereeName1" placeholder="Referee's Name">
            <input type="text" name="refereeJob1" placeholder="Referee's Job">
            <input type="text" name="refereeComp1" placeholder="Referee's Company">
            <input type="text" name="refereeAddress1" placeholder="Referee's Address">
            <input type="text" name="refereeNum1" placeholder="Referee's Phone Number">
            <input type="email" name="refereeEmail1" placeholder="Referee's Email Address">
          <h2> Referee 2 </h2>
            <input type="text" name="refereeName2" placeholder="Referee's Name">
            <input type="text" name="refereeJob2" placeholder="Referee's Job">
            <input type="text" name="refereeComp2" placeholder="Referee's Company">
            <input type="text" name="refereeAddress2" placeholder="Referee's Address">
            <input type="text" name="refereeNum2" placeholder="Referee's Phone Number">
            <input type="email" name="refereeEmail2" placeholder="Referee's Email Address">
        </section>
        <hr>
        <section class="uploadCV">
          <h1> Step 6 - CV File</h1>
          <p> Please upload your CV here</p>
          <input type="file" name="CV">
        </section>
        <hr>
        <section class="uploadImage">
          <h1> Step 7 - Upload a profile photo</h1>
          <p> Please upload your image here</p>
          <input type="file" name="profileImage">
        </section>
        <button type="submit">Submit</button>
        <span id='txt'></span>
      </form>
    </main>


    <script>
      function addForm() {
        fieldlist = ["'title'", "'firstName'", "'surname'", "'gender'", "'dob'", "'niNumber'", "'eAddress'", "'contactNumber'",
                         "'postCode'", "'addressLine1'", "'addressLine2'", "'addressLine3'", "'town'", "'emergContact'",
                         "'emergContactNumber'", "'workReq'", "'quali'", "'nameOfCompany'", "'eligibility'",
                         "'proofOfEligibility'", "'licence'", "'criminalConviction'", "'criminalDetails'", "'disability'",
                         "'disabilityDetails'", "'refereeName1'", "'refereeJob1'", "'refereeComp1'", "'refereeAddress1'",
                         "'refereeNum1'","'refereeEmail1'", "'refereeName2'", "'refereeJob2'", "'refereeComp2'", "'refereeNum2'",
                         "'refereeAddress2'", "'refereeEmail2'"]

        params =""
        for (i in fieldlist) {
          params += i+"="+document.forms["contractorForm"][i].value+"&";
        }
        xhttp.open('POST', '/Home', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
          if (xhttp.readyState === 4 && xhttp.status === 200) {
              console.log(xhttp.responseText);
              document.getElementById("txt").innerHTML = xhttp.responseText;
            } else {
              console.error(xhttp.statusText);
            }
          };
          xhttp.send(params);
          return false;
        }
    </script>

    <script>
        // Ideas of Javascript validation form taken from - https://www.w3schools.com/js/js_validation.asp (accessed on 23/11/2017).
    function addForm() {
    var First_name = document.forms["myForm"]["firstName"].value;
    var S_name = document.forms["myForm"]["surname"].value;
    var Date_of_birth = document.forms["myForm"]["dob"].value;
    var NI_Number = document.forms["myForm"]["niNumber"].value;
    var Email_Address = document.forms["myForm"]["eAddress"].value;
    var Confirm_Email_Address = document.forms["myForm"]["confirmEAddress"].value;
    var Contact_Number = document.forms["myForm"]["contactNumber"].value;
    var Postal_Code = document.forms["myForm"]["postCode"].value;
    var Address_Line1 = document.forms["myForm"]["addressLine1"].value;
    var Address_Line2 = document.forms["myForm"]["addressLine2"].value;
    var Address_Line13 = document.forms["myForm"]["addressLine3"].value;
    var Town = document.forms["myForm"]["town"].value;
    var Emergency_Contact_Name = document.forms["myForm"]["emergContact"].value;
    var Emergency_Contact_Number = document.forms["myForm"]["emergContactNumber"].value;
    var Work_Required = document.forms["myForm"]["workReq"].value;
    var Qualifications = document.forms["myForm"]["quali"].value;
    var Company_Name = document.forms["myForm"]["nameOfCompany"].value

    var Ref_name1 = document.forms["myForm"]["refereeName1"].value;
    var Ref_job1 = document.forms["myForm"]["refereeJob1"].value;
    var Ref_comp1 = document.forms["myForm"]["refereeComp1"].value;
    var Ref_address1 = document.forms["myForm"]["refereeAddress1"].value;
    var Ref_num1 = document.forms["myForm"]["refereeNum1"].value;
    var Ref_email1 = document.forms["myForm"]["refereeEmail1"].value;
    var Ref_name2 = document.forms["myForm"]["refereeName2"].value;
    var Ref_job2 = document.forms["myForm"]["refereeJob2"].value;
    var Ref_comp2 = document.forms["myForm"]["refereeComp2"].value;
    var Ref_address2 = document.forms["myForm"]["refereeAddress2"].value;
    var Ref_num2 = document.forms["myForm"]["refereeNum2"].value;
    var Ref_email2 = document.forms["myForm"]["refereeEmail2"].value;




          if (First_name == "") {
              alert("First name must be filled out");
              }

          if (S_name == "") {
              alert("Surname must be filled out");
              }

          if (Date_of_birth == "") {
            alert("Date of birth must be filled out");
            }

          if (NI_Number == "") {
              alert("National insurance number must be filled out");
              }

          if (Email_Address == "") {
              alert("Email address must be filled out");
              }

          if (Confirm_Email_Address == "") {
              alert("Email address confirmation must be filled out");
              }

          if (Contact_Number == "") {
              alert("Contact number must be filled out");
              }

          if (Postal_Code == "") {
              alert("Postal code must be filled out");
              }

          if (Address_Line1 == "") {
              alert("Address line 1 must be filled out");
              }

          if (Address_Line2 == "") {
              alert("Address line 2 must be filled out");
              }

          if (Address_Line13 == "") {
              alert("Address line 3 must be filled out");
              }

          if (Town == "") {
              alert("Town name must be filled out");
              }

          if (Emergency_Contact_Name == "") {
              alert("Emergency contact name must be filled out");
              }

          if (Emergency_Contact_Number == "") {
              alert("Emergency contact number must be filled out");
              }

          if (Work_Required == "") {
              alert("Work required must be filled out");
              }

          if (Qualifications == "") {
              alert("Qualifications/licences must be filled out");
              }

          if (Company_Name == "") {
              alert("Name of Company must be filled out");
              }


          if (Ref_name1 == "") {
              alert("Name of referee 1 must be filled out");
              }

          if (Ref_job1 == "") {
              alert("Job title of referee 1 must be filled out");
              }

          if (Ref_comp1 == "") {
              alert("Company name of referee 1 must be filled out");
              }

          if (Ref_address1 == "") {
              alert("Address of referee 1 must be filled out");
              }

          if (Ref_num1 == "") {
              alert("Conatct number of referee 1 must be filled out");
              }

          if (Ref_email1 == "") {
              alert("Email address of referee 1 must be filled out");
              }


          if (Ref_name2 == "") {
              alert("Name of referee 2 must be filled out");
              }

          if (Ref_job2 == "") {
              alert("Job title of referee 2 must be filled out");
              }

          if (Ref_comp2 == "") {
              alert("Company name of referee 2 must be filled out");
              }

          if (Ref_address2 == "") {
              alert("Address of referee 2 must be filled out");
              }

          if (Ref_num2 == "") {
              alert("Conatct number of referee 2 must be filled out");
              }

          if (Ref_email2 == "") {
              alert("Email address of referee 2 must be filled out");
              }


          return false;
          }


    </script>
  </body>
</html>
