<!DOCTYPE HTML>

<!-- Please check the notes in resources/helpful_notes.txt for information -->

<html lang=en>
  <head>
    <title> Acorn Recuritment </title>
    <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    <script src="../static/js/form_scripts.js"></script>
    <script src="../static/js/validation.js"></script>
    <link rel="shortcut icon" type="image/png" href="..\static\acorn_res\Logos\favicon.ico"/>
  </head>

  <body>
    <header class="acornHeader">
      <img id="logo" src="..\static\acorn_res\Logos\PNGs\acorn_logo.png" alt="Image of the Acorn Logo">
    </header>
    <main>
      <h1>Limited Company Contractor Registration Form </h1>
      <hr>
      <p>Please fill out all input fields fully, and if you need any extra information, just hover over the field with your cursor</p>
      <hr>
      <form id='contractorForm' onsubmit="return sendData()" name='contractorForm' autocomplete="on" enctype="multipart/form-data">
        <section class="personalDetails">
          <h1> Step 1 - Personal Details</h1>
          <select class="title" name="title"  >
            <option value="Title" disabled selected hidden> Title </option>
            <option value="Mr."> Mr.</option>
            <option value="Miss"> Miss</option>
            <option value="Mrs."> Mrs.</option>
            <option value="Ms."> Ms.</option>
          </select>
          <input type="text" name="firstName" placeholder="First Name"  >
          <input class="work" type="text" name="surname" placeholder="Surname"  >
          <select class="gender" name="gender">
            <option value="Gender" disabled selected hidden> Gender </option>
            <option value="Male"> Male </option>
            <option value="Female"> Female </option>
            <option value="Prefer not to say"> Prefer not to say </option>
          </select>
          <input type="text" name="dob" placeholder="Date of Birth">
          <input title="If you dont have a national insurance number leave blank" onclick="progression()" type="text" name="niNumber" placeholder="National Insurance Number" autocomplete="off">
        </section>
        <hr>
        <section class="progress" class="contactInfo">
          <h1> Step 2 - Contact Information</h1>
          <input type="email" name="eAddress" placeholder="Email Address">
          <input type="email" name="confirmEAddress" placeholder="Confirm Email Address" onblur="confirmEmail()">
          <input title="No spaces needed" type="text" name="contactNumber" placeholder="Contact Phone Number">
          <input title="Please enter your postcode like this XXX XXX" type="text" name="postCode" placeholder="Postal Code">
          <input type="text" name="addressLine1" placeholder="Address Line 1">
          <input type="text" name="addressLine2" placeholder="Address Line 2">
          <input type="text" name="addressLine3" placeholder="Address Line 3">
          <input type="text" name="town" placeholder="Town">
          <input title="No spaces needed" type="text" name="emergContact" placeholder="Emergency Contact Name">
          <input onclick="progression1()" title="No spaces needed" type="text" name="emergContactNumber" placeholder="Emergency Contact Number">
        </section>
        <hr>
        <section class="progress" class="workInfo">
          <h1> Step 3 - Work Information</h1>
          <input title="What type of work are you looking for?" type="text" name="workReq" placeholder="Type of Work  :"  >
          <input title="What is the highest qualification you have currently" type="text" name="quali" placeholder="Qualifications / Licences held:">
          <input title="Enter the last company that you worked for" onclick="progression2()" type="text" name="nameOfCompany" placeholder="Name of Company">
        </section>
        <hr>
        <section class="progress" class="extendedInfo">
          <h1> Step 4 - Extended Information</h1>
          <span>Are you eligible to work in the UK?
          <select onclick="hide()" class="eligibility" name="eligibility">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option  value="No"> No </option>
          </select>
          <input id="removed" type="text" name="proofOfEligibility" placeholder="Please detail which documents you will provide as proof"  >
          <span>Do you have a current UK driving licence?
          <select class="licence" name="licence">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <span>Do you have any current criminal convictions as per the
             Rehabilitation of Offenders Act 1974?
          <select onclick="hide()" class="criminalConviction" name="criminalConviction">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input title="State any criminal convictions you have had in the past" id="removed1" type="text" name="criminalDetails" placeholder="Please provide full details">
          <span>Do you condiser yourself to have a disability?
          <select onclick="hide()" class="disability" name="disability">
            <option value="" disabled selected hidden></option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <input title="Please name any disability's you have" onclick="progression3()"  id="removed2" type="text" name="disabilityDetails" placeholder="Please provide full details">
        </section>
        <hr>
        <section class="progress" class="references">
          <h1> Step 5 - References </h1>
          <p>Please provide details of two referees whom we may contact to obtain
          a reference in connection with your employment. These should idealy
          be your current and previous employer.</p>
          <h2> Referee 1 </h2>
            <input type="text" name="refereeName1" placeholder="Referee's Name">
            <input type="text" name="refereeJob1" placeholder="Referee's Job">
            <input type="text" name="refereeComp1" placeholder="Referee's Company">
            <input type="text" name="refereeAddress1" placeholder="Referee's Address">
            <input type="text" name="refereeNum1" placeholder="Referee's Phone Number">
            <input type="email" name="refereeEmail1" placeholder="Referee's Email Address">
          <h2> Referee 2 </h2>
            <input type="text" name="refereeName2" placeholder="Referee's Name">
            <input type="text" name="refereeJob2" placeholder="Referee's Job">
            <input type="text" name="refereeComp2" placeholder="Referee's Company">
            <input type="text" name="refereeAddress2" placeholder="Referee's Address">
            <input type="text" name="refereeNum2" placeholder="Referee's Phone Number">
            <input onclick="progression4()"  type="email" name="refereeEmail2" placeholder="Referee's Email Address">
        </section>
        <hr>
        <section class="progress" class="uploadCV">
          <h1> Step 6 - CV File</h1>
          <p> Please upload your CV here</p>
          <input type="file" name="CV"  >
        </section>
        <hr>
        <section class="progress" class="uploadImage">
          <h1> Step 7 - Upload a profile photo</h1>
          <p> Please upload your image here</p>
          <input type="file" name="profileImage">
        </section>
        <hr>
        <section class="progress "class="accountCreate">
          <h1> Step 8 - Create a Account</h1>
          <p> Create a Account </p>
          <input type="text" name="userName" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="password" name="confirmPassword" placeholder="Password Confirmation" onblur="confirmPasswords()">
        </section>
        <hr>
        <section class="progress" class="signature">
          <h1> Step 9 - Confirm Your Signature</h1>
          <div class="signatureConfirmBox">
            <p> By clicking in the check box below, you consent for your personal information that you entered
            above being used by Acorn Recruitment.</p>
            <div id="sig">
              <input id='checkBox' type="checkbox" value="true" onClick="agreement()"  >
              <label id='signature'> </label>
            </div>
          </div>
         </section>
        <button type="submit" id="submitForm">Submit</button>
      </form>
    </main>
    <!-- <script src="../static/js/taking_steps.js"></script> -->
  </body>
</html>
