<!DOCTYPE HTML>

<!-- Please check the notes in resources/helpful_notes.txt for information -->

<html lang=en>
  <head>
    <title> Acorn Recuritment </title>
    <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\landing_page.css">
    <link rel="shortcut icon" type="image/png" href="..\static\acorn_res\Logos\favicon.ico"/>
  </head>

  <body>
    <header class="acornHeader">
      <img id="logo" src="..\static\acorn_res\Logos\PNGs\acorn_logo.png" alt="Image of the Acorn Logo">
    </header>
    <main>
      <h1>Limited Company Contractor Registration</h1>
      <hr>
      <p>Welcome! Are you a returning user, or a new one?</p>
      <hr>
      <div class="loginOrNew">
        <form class="options" action='/Login' method='get'>
          <button type="submit">I am a returning user</button>
        </form>
        <form class="options" action='/Form' method='get'>
          <button type="submit">I am a first time user</button>
        </form>
      </div>
    </main>
  </body>
</html>
